body {
    height: 100%;
    width: 100%;
    background-image: url('images/fondvache.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.text-center p {
    font-size: 1.5rem;
    font-family: "Playwrite DE Grund", cursive;
}

.noir{
    color: black;
}

.topper {
    background: #354F52;
    padding: 20px;
    border: 5px solid #0d0e0b;
    margin-bottom: 30px;
}

.decodiv {
    border-radius: 25px;
    background: #52796F;
    padding: 20px;
    border: 5px solid #000000;
    margin: 0 1em 30px 1em;
}

#compteur {
    font-size: 3rem;
    font-weight: bolder;
    color: #000000;
}

.beaubouton {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    background-color: #84A98C;
    border: 5px solid black;
    border-radius: 15px;
}

.beaubouton:hover {
    background-color: #CAD2C5;
}
